.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 20px;
  padding: 5px;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: #333;
}

.row {
  display: flex;
  justify-content: space-between;
  background-color: rgb(62, 62, 62);
  margin: 20px 20px 0 20px;
  width: 700px;
  height: auto;
}

.existingExpense {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 20px 0px 20px;
  background-color: #333;
}

.expensesEdgeCase {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
