.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  margin: 10px;
  display: flex;
}

.button {
  color: rgb(255, 255, 255);
  background-color: #2a2a2a;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;

  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}

.button:hover {
  background-color: #333;
}
.button:active {
  scale: 0.92;
}

.inputDiv {
  margin: 10px;
}

.input {
  margin: 10px;

  max-width: 190px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}
